@model IEnumerable<Usuario>

@{
    ViewData["Title"] = "Administracion de Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card text-center">
    <div class="card-header">
        Administracion de Usuarios
    </div>
    <div class="card-body">
        <a asp-action="Create"
           class="btn btn-outline-primary"><i class="fa-solid fa-users me-2"></i>Crear Nuevo Usuario</a>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rol)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rol)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-UserId="@item.Id"><i class="fa-solid fa-pen-to-square me-2"></i></a>
                    @if (item.Rol != "SuperAdministrador")
                    {
                        <a onclick="return confirm('Estas Seguro de Eliminar al Usuario Seleccionado?')"
                        asp-action="Delete" asp-route-UserId="@item.Id"><i class="fa-solid fa-trash me-2"></i></a>
                    }
                </td>


            </tr>
        }
    </tbody>
</table>
